In [1]:
# Import data
import pandas as pd
stock_data = pd.read_csv('./NFLX.csv',index_col='Date')
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-27,345.950012,351.899994,341.019989,342.880005,342.880005,7709500
2020-01-28,345.880005,352.399994,342.779999,348.519989,348.519989,6821600
2020-01-29,349.000000,349.399994,338.549988,343.160004,343.160004,7643500
2020-01-30,341.100006,348.200012,339.250000,347.739990,347.739990,5328100
2020-01-31,347.390015,347.390015,340.980011,345.089996,345.089996,5230000